name: Pipeline

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:
jobs:
  BUILD:
    runs-on: ubuntu-latest
    steps:
      - name: Get Repository
        uses: actions/checkout@v3
    
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
     
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@ccb4328a959376b642e027874838f60f8e596de3

      - name: Run Build
        run: gradle build
  PROD:
     runs-on: ubuntu-latest
     needs: BUILD
     steps:
         - name: Get Repository
           uses: actions/checkout@v3
           with:
             fetch-depth: 0
          
         - name: Setting Up SSH
           run: |
             mkdir -p ~/.ssh
             echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
             chmod 600 ~/.ssh/id_rsa
             eval "$(ssh-agent -s)"
             ssh-add ~/.ssh/id_rsa
             ssh-keygen -y -f ~/.ssh/id_rsa

         - name: Upload To Prod
           run: |
             git remote add originProd ${{ secrets.REPO_LINK }}
             GIT_SSH_COMMAND="ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no" git push originProd master
